[Unit]
Description=DMUCS – a Distributed Multi-User Compilation System (Request Server)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
EnvironmentFile=-/etc/default/dmucs
ExecStart=/usr/local/bin/dmucs $DMUCS_OPTIONS

[Install]
WantedBy=multi-user.target
WantedBy=dmucs-loadavg.service
