[Unit]
Description=DMUCS – a Distributed Multi-User Compilation System (load average server)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
EnvironmentFile=-/etc/default/dmucs
ExecStart=/usr/local/bin/loadavg $LOADAVG_OPTIONS
ExecStartPost=/usr/local/bin/addhost $LOADAVG_OPTIONS
ExecStop=/usr/local/bin/remhost $LOADAVG_OPTIONS

[Install]
WantedBy=multi-user.target
